
<div class="center hero-unit">

	<% if signed_in? %>
		<div class="row">
			<aside class="span4">
				<section>
					<%= render 'shared/user_info' %>
				</section>
				<section>
					<%= render 'shared/micropost_form' %>
				</section>
			</aside>
		</div>
		<div class="row">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	<% else %>
	<h1>Sweet sample app</h1>
	<h2>
		This is the home page for my sample app
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btm btm-large btn-primary" %>

	<% end %>


</div>

<%= link_to image_tag("download.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
<% provide(:title, 'Home') %>


<!--
<p>Find me in app/views/static_pages/home.html.erb</p>
-->